{% extends "layout.njk" %}

{% block head %}
  <title>Portfolio</title>
{% endblock %}

{% block content %}

  <div class="wrapper">
    <h1>{{courses.titulo}}</h1>
  </div>


  <script src="/index.js"></script>

{% endblock %}