{% extends "layout.njk" %}

{% block head %}
  <title>not-found</title>
  <link rel="stylesheet" href="/style.css">
{% endblock %}

{% block content%}

  <h1 class="not-found"> Erro 404 - Desculpe por isso. </h1>

{% endblock %}