@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

:root{
  --color-red:red;
}

body {
  background-color: #282a36;
  color: white;
}

header.cabecalho {
  padding: 32px;
  border-bottom: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.1);
}

div.links {
  text-align: center;
}

div.links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin: 0 16px;
}

div.links a:hover {
  color: #7159c1;
  transition: 200ms;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

div.wrapper{
  text-align: center;
  padding: 22px;
}

div.wrapper img{
  border-radius: 50%;
  border: 3px solid red;
  margin-bottom: 22px;
  height: 280px;
  width: 300px;
}

div.wrapper h1{
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
}

div.wrapper h3{
  font-size: 20px;
  line-height: 30px;
  font-weight:normal;
  opacity: 0.8;
}

div.wrapper p{
  max-width: 500px;
  margin: 32px auto;
}

div.wrapper p a {
  color: var(--color-red);
  text-decoration: none;
  border-bottom: 1px solid red;
}

div.redes-sociais a:hover{
  border-bottom: none;
  border-top: none;
}

div.redes-sociais a img:hover{
  background-color: white;
  border-radius: 200px;
  transition: 500ms;
}

/* CARDS */

section.cards{
  max-width: 980px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

div.card{
  display: grid;
  background-color: #ccc;
  border-radius: 20px ;
}

div.card_image img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

div.card_content, div.card_info{
  padding: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .1em;
}

div.card_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

 p.card_link{
  background-color: #7159c1;
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

p.card_link:hover{
  background-color: #6f4fda;
  color: #fff;
}

/* MODAL */

div.modal-overley{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

div.modal{
  background-color: #ccc;
  width: 50%;
  height: 50%;
  margin: 5vh auto;
  position: relative;

}

div.modal a.close-modal{
  color: black;
  position: absolute;
  right: 2px;
  top: auto;
  cursor: pointer;
  z-index: 10;
}

div.modal a.close-modal:hover{
  color: white;
}

/*Modal ativado*/

div.modal-overley.ativado{
  opacity: 1;
  visibility: visible;
}

.not-found{
    text-align: center;
    margin-top: 60px;
}